<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
  </head>
  <body style="background-color: grey">
    <div class="mainPanel">
      <mat-card>
        <mat-tab-group class="infoTab">
          <mat-tab label="Stats">
            <mat-card class="tabCard">

            </mat-card> 
          </mat-tab>
          <mat-tab label="Controls">
            <mat-card class="tabCard">

            </mat-card> 
          </mat-tab>
          <mat-tab label="Help">
            <mat-card class="tabCard">

            </mat-card> 
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    
  </body>
</html>