.body{
    margin-top: 20px;
    height: 100%;
    overflow: auto;
}

.app-container{
    height: auto;
}

.mainPanel{
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoTab{
    height: auto;
}

.tabCard{
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
}

.graphCard{
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
}